body {
  background-color: #dedede; }

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer; }

.navbar-custom {
  background-color: #303030; }

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #ffffff; }

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff; }

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff; }

.dropdown-currencies {
  background-color: #303030 !important;
  font-size: 0.9rem;
  height: 2rem; }
  .dropdown-currencies:hover {
    background-color: #303030; }

.carousel-item img {
  height: 500px; }

.navbar-toggler-icon {
  background-image: url("../images/menu.svg"); }

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%; }
  .carousel-indicators li.active {
    background-color: red; }

.carousel-caption {
  transform: translateY(-50%);
  bottom: 0;
  top: 50%; }

#searchForm {
  top: 50%; }
  #searchForm .row-control {
    background: rgba(142, 141, 131, 0.6); }
  #searchForm .row-label {
    margin-bottom: -25px; }

.control-label {
  top: -20px;
  color: white; }

.btn-discover {
  border-radius: 25px !important;
  width: 100px; }

.dropdown-countries button {
  width: 100%;
  color: #303030;
  background-color: white !important; }
  @media (min-width: 992px) {
    .dropdown-countries button {
      width: 185px; } }
  .dropdown-countries button:hover {
    color: #303030; }
.dropdown-countries i {
  color: red;
  position: absolute;
  pointer-events: none;
  left: 10px; }

/* enable absolute positioning */
.inner-addon {
  position: relative; }

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: red; }

/* align icon */
.left-addon .fa {
  left: 0px;
  color: red; }

.right-addon .fa {
  right: 0px;
  color: red; }

/* add padding  */
.left-addon input {
  padding-left: 30px; }

.right-addon input {
  padding-right: 30px; }

.input-travelers input {
  width: 180px; }

.bd-red {
  outline: 2px solid red; }

.bd-blue {
  outline: 2px solid blue; }

.bd-cyan {
  outline: 2px solid cyan; }

/* motto section */
.row-motto {
  background-color: #f5ebea; }

.motto-text-short {
  color: #20445c; }

/* icons section */
.row-icons {
  background-color: #ffffff; }

.icon-action {
  width: 80px; }

/* gallary section */
.row-gallery {
  background-color: #e6f2f2; }
  .row-gallery img:hover + .country-caption > .btn-choose, .row-gallery .btn-choose:hover {
    display: inline-block; }
  .row-gallery .btn-choose {
    border-radius: 25px !important;
    width: 100px;
    display: none; }
  .row-gallery img {
    width: 100%;
    height: 200px; }
    @media (min-width: 992px) {
      .row-gallery img {
        height: 300px; } }
    .row-gallery img:hover, .row-gallery img:focus {
      outline: 2px solid red; }

.country-caption {
  color: #ffffff;
  left: 40%;
  top: 50%; }

/* video section */
.row-video {
  background-color: white; }
  .row-video .featured-video .video-title {
    top: 15%;
    left: 15px;
    background-color: black;
    color: white; }
  .row-video .video-section-body {
    background-color: #383737; }
    .row-video .video-section-body img:hover, .row-video .video-section-body img:focus {
      outline: 2px solid red;
      cursor: pointer; }
  .row-video .media-body {
    bottom: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); }

/* contact us section */
.row-contact {
  background-color: #f5ebea; }
